@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&display=swap');


$ubuntu : 'Ubuntu', sans-serif;
$eczra : 'Eczar', serif;


$darkPrimaryColor: #0081a7;
$primaryColor: #00afb9;

$creamPaper: #f0e9e2;
$primaryShadow: #677289;


$brightPrimaryColor: #00FCFF;
$secondaryColor: #e242ad;


$primaryTextColor: #3d405b;
$secondaryTextColor: #a7a8b1;